# =====================================
# Ignorar archivos y carpetas de Eclipse
# =====================================
# Ignora cualquier archivo .classpath en cualquier subcarpeta
**/.classpath
**/.project
**/.settings/

# ===========================
# Ignorar archivos compilados
# ===========================
# Ignora cualquier carpeta bin en cualquier subdirectorio
**/bin/
**/target/
**/out/
**/*.class

# =====================
# Archivos del sistema
# =====================
.DS_Store
Thumbs.db

# ==================
# Archivos de log
# ==================
**/*.log

# ============================
# Otros posibles temporales
# ============================
*.tmp
*.swp
*.bak